*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: qiamast-font-face;
  src: url('../../Assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}
body{
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-container{
  width: 100%;
  height: 100vh;
  background-image:url('../../Assets/image/Qiamast-Background-image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
  
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  
}
.main-big-text{
  font-size: 25vh;
  font-family: qiamast-font-face;
  color: #fff;
  mix-blend-mode: difference;
  user-select: none;
  transition: all 0.4s;
  text-transform: capitalize;
}

.icons-container{
  display: flex;

}
.icons-container .fa{
  font-size: 6vh;
  margin-left: 2vh;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in;
  cursor: pointer;

  
}
.icons-container .fa:hover{
  color: rgba(255, 255, 255, 1);
}


