/* @media only screen and (max-width: 1000px) {
  .main-big-text {
    font-size: 25vh;
  }
}

@media only screen and (max-width: 570px) {
  .main-big-text {
    font-size: 20vh;
  }
}

@media only screen and (max-width: 435px) {
  .main-big-text , .fa {
    font-size: 15vh;
  }
}

@media only screen and (max-width: 340px) {
  .main-big-text {
    font-size: 10vh;
  }
}
@media only screen and (max-width: 220px) {
  .main-big-text {
    font-size: 8vh;
  }
}
@media only screen and (max-width: 190px) {
  .main-big-text {
    font-size: 5vh;
  }
}
@media only screen and (max-width: 110px) {
  .main-big-text {
    font-size: 4vh;
  }
} */
