@media only screen and (max-width: 1280px) {
  .content h1 {
    font-size: 25vh;
  }
}

@media only screen and (max-width: 992px) {
  .content h1 {
    font-size: 10vh;
    
  }
  
  .content .fa{
    font-size: 5vh;
  }
}
@media only screen and (max-width: 756px) {
  .content h1 {
    font-size: 10vh;
  }
  .content .fa{
    font-size: 5vh;
  }
}
@media only screen and (max-width: 568px) {
  .content h1 {
    font-size: 10vh;
  }
  .content .fa{
    font-size: 5vh;
  }
}
@media only screen and (max-width: 400px) {
  .content h1 {
    font-size: 10vh;
  }
  .content .fa{
    font-size: 5vh;
  }
}